<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="critere">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.critere.detail.title">Critere</span> {{critere.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.critere.clause">Clause</span></dt>
                <dd>
                    <div *ngIf="critere.clause">
                        <a [routerLink]="['/clause', critere.clause?.id, 'view']">{{critere.clause?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.critere.operateurLogique">Operateur Logique</span></dt>
                <dd>
                    <div *ngIf="critere.operateurLogique">
                        <a [routerLink]="['/operateur-logique', critere.operateurLogique?.id, 'view']">{{critere.operateurLogique?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/critere', critere.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
