<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.jointure.home.title">Jointures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jointure" [routerLink]="['/jointure/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.jointure.home.createLabel">
            Create new Jointure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.jointure.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jointures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="critere.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.jointure.critere">Critere</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flux.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.jointure.flux">Flux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeJointure.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.jointure.typeJointure">Type Jointure</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let jointure of jointures ;trackBy: trackId">
                <td><a [routerLink]="['/jointure', jointure.id, 'view' ]">{{jointure.id}}</a></td>
                <td>
                    <div *ngIf="jointure.critere">
                        <a [routerLink]="['../critere', jointure.critere?.id, 'view' ]" >{{jointure.critere?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jointure.flux">
                        <a [routerLink]="['../flux', jointure.flux?.id, 'view' ]" >{{jointure.flux?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jointure.typeJointure">
                        <a [routerLink]="['../type-jointure', jointure.typeJointure?.id, 'view' ]" >{{jointure.typeJointure?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/jointure', jointure.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jointure', jointure.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'jointure', { outlets: { popup: jointure.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
