<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clause">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.clause.detail.title">Clause</span> {{clause.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.clause.prefixe">Prefixe</span></dt>
                <dd>
                    <span>{{clause.prefixe}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.clause.suffixe">Suffixe</span></dt>
                <dd>
                    <span>{{clause.suffixe}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.clause.operande">Operande</span></dt>
                <dd>
                    <span *ngFor="let operande of clause.operandes; let last = last">
                        <a [routerLink]="['/operande', operande?.id, 'view' ]">{{operande.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.clause.operateur">Operateur</span></dt>
                <dd>
                    <div *ngIf="clause.operateur">
                        <a [routerLink]="['/operateur', clause.operateur?.id, 'view']">{{clause.operateur?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/clause', clause.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
