<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-envoi-resultat-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.home.createOrEditLabel">Create or edit a Envoi Resultat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!envoiResultat.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="envoiResultat.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="envoiResultat.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.dateEnvoi" for="field_dateEnvoi">Date Envoi</label>
                    <div class="d-flex">
                        <input id="field_dateEnvoi" type="datetime-local" class="form-control" name="dateEnvoi" [(ngModel)]="dateEnvoi" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.fichierResultat" for="field_fichierResultat">Fichier Resultat</label>
                    <select class="form-control" id="field_fichierResultat" name="fichierResultat" [(ngModel)]="envoiResultat.fichierResultat" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fichierResultatOption.id === envoiResultat.fichierResultat?.id ? envoiResultat.fichierResultat : fichierResultatOption" *ngFor="let fichierResultatOption of fichierresultats; trackBy: trackFichierResultatById">{{fichierResultatOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.utilisateur" for="field_utilisateur">Utilisateur</label>
                    <select class="form-control" id="field_utilisateur" name="utilisateur" [(ngModel)]="envoiResultat.utilisateur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="utilisateurOption.id === envoiResultat.utilisateur?.id ? envoiResultat.utilisateur : utilisateurOption" *ngFor="let utilisateurOption of utilisateurs; trackBy: trackUtilisateurById">{{utilisateurOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
