<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.home.title">Envoi Resultats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-envoi-resultat" [routerLink]="['/envoi-resultat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.home.createLabel">
            Create new Envoi Resultat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.envoiResultat.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="envoiResultats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateEnvoi"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.dateEnvoi">Date Envoi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fichierResultat.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.fichierResultat">Fichier Resultat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="utilisateur.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.envoiResultat.utilisateur">Utilisateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let envoiResultat of envoiResultats ;trackBy: trackId">
                <td><a [routerLink]="['/envoi-resultat', envoiResultat.id, 'view' ]">{{envoiResultat.id}}</a></td>
                <td>{{envoiResultat.email}}</td>
                <td>{{envoiResultat.dateEnvoi | date:'medium'}}</td>
                <td>
                    <div *ngIf="envoiResultat.fichierResultat">
                        <a [routerLink]="['../fichier-resultat', envoiResultat.fichierResultat?.id, 'view' ]" >{{envoiResultat.fichierResultat?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="envoiResultat.utilisateur">
                        <a [routerLink]="['../utilisateur', envoiResultat.utilisateur?.id, 'view' ]" >{{envoiResultat.utilisateur?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/envoi-resultat', envoiResultat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/envoi-resultat', envoiResultat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'envoi-resultat', { outlets: { popup: envoiResultat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
