<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.home.title">Utilisateurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-utilisateur" [routerLink]="['/utilisateur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.home.createLabel">
            Create new Utilisateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.utilisateur.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="utilisateurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="matricule"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.matricule">Matricule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="username"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastName"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estActif"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.estActif">Est Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="droitAcces.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.droitAcces">Droit Acces</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="filiale.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.filiale">Filiale</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profil.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.profil">Profil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let utilisateur of utilisateurs ;trackBy: trackId">
                <td><a [routerLink]="['/utilisateur', utilisateur.id, 'view' ]">{{utilisateur.id}}</a></td>
                <td>{{utilisateur.matricule}}</td>
                <td>{{utilisateur.username}}</td>
                <td>{{utilisateur.firstName}}</td>
                <td>{{utilisateur.lastName}}</td>
                <td>{{utilisateur.email}}</td>
                <td>{{utilisateur.estActif}}</td>
                <td>
                    {{utilisateur.user?.login}}
                </td>
                <td>
                    <div *ngIf="utilisateur.droitAcces">
                        <a [routerLink]="['../droit-acces', utilisateur.droitAcces?.id, 'view' ]" >{{utilisateur.droitAcces?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="utilisateur.filiale">
                        <a [routerLink]="['../filiale', utilisateur.filiale?.id, 'view' ]" >{{utilisateur.filiale?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="utilisateur.profil">
                        <a [routerLink]="['../profil', utilisateur.profil?.id, 'view' ]" >{{utilisateur.profil?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/utilisateur', utilisateur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'utilisateur', { outlets: { popup: utilisateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
