<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-utilisateur-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.home.createOrEditLabel">Create or edit a Utilisateur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!utilisateur.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="utilisateur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.matricule" for="field_matricule">Matricule</label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                        [(ngModel)]="utilisateur.matricule" required/>
                    <div [hidden]="!(editForm.controls.matricule?.dirty && editForm.controls.matricule?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.matricule?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                        [(ngModel)]="utilisateur.username" required/>
                    <div [hidden]="!(editForm.controls.username?.dirty && editForm.controls.username?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.username?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="utilisateur.firstName" required/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="utilisateur.lastName" required/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="utilisateur.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.estActif" for="field_estActif">Est Actif</label>
                    <input type="checkbox" class="form-control" name="estActif" id="field_estActif"
                        [(ngModel)]="utilisateur.estActif" />
                    <div [hidden]="!(editForm.controls.estActif?.dirty && editForm.controls.estActif?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.estActif?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="utilisateur.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === utilisateur.user?.id ? utilisateur.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.droitAcces" for="field_droitAcces">Droit Acces</label>
                    <select class="form-control" id="field_droitAcces" name="droitAcces" [(ngModel)]="utilisateur.droitAcces" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="droitAccesOption.id === utilisateur.droitAcces?.id ? utilisateur.droitAcces : droitAccesOption" *ngFor="let droitAccesOption of droitacces; trackBy: trackDroitAccesById">{{droitAccesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.filiale" for="field_filiale">Filiale</label>
                    <select class="form-control" id="field_filiale" name="filiale" [(ngModel)]="utilisateur.filiale" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="filialeOption.id === utilisateur.filiale?.id ? utilisateur.filiale : filialeOption" *ngFor="let filialeOption of filiales; trackBy: trackFilialeById">{{filialeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.utilisateur.profil" for="field_profil">Profil</label>
                    <select class="form-control" id="field_profil" name="profil" [(ngModel)]="utilisateur.profil" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilOption.id === utilisateur.profil?.id ? utilisateur.profil : profilOption" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
