<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.home.title">Dimensions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dimension" [routerLink]="['/dimension/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.home.createLabel">
            Create new Dimension
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.dimension.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dimensions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="base.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.base">Base</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flux.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.flux">Flux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeExtraction.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.typeExtraction">Type Extraction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dimension of dimensions ;trackBy: trackId">
                <td><a [routerLink]="['/dimension', dimension.id, 'view' ]">{{dimension.id}}</a></td>
                <td>
                    <div *ngIf="dimension.base">
                        <a [routerLink]="['../base', dimension.base?.id, 'view' ]" >{{dimension.base?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dimension.flux">
                        <a [routerLink]="['../flux', dimension.flux?.id, 'view' ]" >{{dimension.flux?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dimension.typeExtraction">
                        <a [routerLink]="['../type-extraction', dimension.typeExtraction?.id, 'view' ]" >{{dimension.typeExtraction?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dimension', dimension.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dimension', dimension.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'dimension', { outlets: { popup: dimension.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
