<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dimension">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.detail.title">Dimension</span> {{dimension.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.monitor">Monitor</span></dt>
                <dd>
                    <span *ngFor="let monitor of dimension.monitors; let last = last">
                        <a [routerLink]="['/monitor', monitor?.id, 'view' ]">{{monitor.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.base">Base</span></dt>
                <dd>
                    <div *ngIf="dimension.base">
                        <a [routerLink]="['/base', dimension.base?.id, 'view']">{{dimension.base?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.flux">Flux</span></dt>
                <dd>
                    <div *ngIf="dimension.flux">
                        <a [routerLink]="['/flux', dimension.flux?.id, 'view']">{{dimension.flux?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.typeExtraction">Type Extraction</span></dt>
                <dd>
                    <div *ngIf="dimension.typeExtraction">
                        <a [routerLink]="['/type-extraction', dimension.typeExtraction?.id, 'view']">{{dimension.typeExtraction?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dimension', dimension.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
