<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dimension-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.home.createOrEditLabel">Create or edit a Dimension</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dimension.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dimension.id" readonly />
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.monitor" for="field_monitor">Monitor</label>
                    <select class="form-control" id="field_monitor" multiple name="monitor" [(ngModel)]="dimension.monitors">
                        <option [ngValue]="getSelected(dimension.monitors, monitorOption)" *ngFor="let monitorOption of monitors; trackBy: trackMonitorById">{{monitorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.base" for="field_base">Base</label>
                    <select class="form-control" id="field_base" name="base" [(ngModel)]="dimension.base" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="baseOption.id === dimension.base?.id ? dimension.base : baseOption" *ngFor="let baseOption of bases; trackBy: trackBaseById">{{baseOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.flux" for="field_flux">Flux</label>
                    <select class="form-control" id="field_flux" name="flux" [(ngModel)]="dimension.flux" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fluxOption.id === dimension.flux?.id ? dimension.flux : fluxOption" *ngFor="let fluxOption of fluxes; trackBy: trackFluxById">{{fluxOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.dimension.typeExtraction" for="field_typeExtraction">Type Extraction</label>
                    <select class="form-control" id="field_typeExtraction" name="typeExtraction" [(ngModel)]="dimension.typeExtraction" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeExtractionOption.id === dimension.typeExtraction?.id ? dimension.typeExtraction : typeExtractionOption" *ngFor="let typeExtractionOption of typeextractions; trackBy: trackTypeExtractionById">{{typeExtractionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
