<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.monitor.home.title">Monitors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-monitor" [routerLink]="['/monitor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.monitor.home.createLabel">
            Create new Monitor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.monitor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="monitors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.monitor.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colonne.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.monitor.colonne">Colonne</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fonction.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.monitor.fonction">Fonction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let monitor of monitors ;trackBy: trackId">
                <td><a [routerLink]="['/monitor', monitor.id, 'view' ]">{{monitor.id}}</a></td>
                <td jhiTranslate="{{'gestionrequisitionsfrontendgatewayApp.TypeMonitor.' + monitor.type}}">{{monitor.type}}</td>
                <td>
                    <div *ngIf="monitor.colonne">
                        <a [routerLink]="['../colonne', monitor.colonne?.id, 'view' ]" >{{monitor.colonne?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="monitor.fonction">
                        <a [routerLink]="['../fonction', monitor.fonction?.id, 'view' ]" >{{monitor.fonction?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/monitor', monitor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/monitor', monitor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'monitor', { outlets: { popup: monitor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
