<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="provenance">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.provenance.detail.title">Provenance</span> {{provenance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.provenance.code">Code</span></dt>
                <dd>
                    <span>{{provenance.code}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.provenance.libelle">Libelle</span></dt>
                <dd>
                    <span>{{provenance.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.provenance.email">Email</span></dt>
                <dd>
                    <span>{{provenance.email}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/provenance', provenance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
