<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-filtre-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.filtre.home.createOrEditLabel">Create or edit a Filtre</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!filtre.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="filtre.id" readonly />
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestionrequisitionsfrontendgatewayApp.filtre.clause" for="field_clause">Clause</label>
                    <select class="form-control" id="field_clause" multiple name="clause" [(ngModel)]="filtre.clauses">
                        <option [ngValue]="getSelected(filtre.clauses, clauseOption)" *ngFor="let clauseOption of clauses; trackBy: trackClauseById">{{clauseOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.filtre.operateurLogique" for="field_operateurLogique">Operateur Logique</label>
                    <select class="form-control" id="field_operateurLogique" name="operateurLogique" [(ngModel)]="filtre.operateurLogique" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operateurLogiqueOption.id === filtre.operateurLogique?.id ? filtre.operateurLogique : operateurLogiqueOption" *ngFor="let operateurLogiqueOption of operateurlogiques; trackBy: trackOperateurLogiqueById">{{operateurLogiqueOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
