<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fichier-resultat-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.home.createOrEditLabel">Create or edit a Fichier Resultat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fichierResultat.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fichierResultat.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.cheminFichier" for="field_cheminFichier">Chemin Fichier</label>
                    <input type="text" class="form-control" name="cheminFichier" id="field_cheminFichier"
                        [(ngModel)]="fichierResultat.cheminFichier" />
                    <div [hidden]="!(editForm.controls.cheminFichier?.dirty && editForm.controls.cheminFichier?.invalid)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.format" for="field_format">Format</label>
                    <select class="form-control" name="format" [(ngModel)]="fichierResultat.format" id="field_format"  required>
                        <option value="CSV">{{'gestionrequisitionsfrontendgatewayApp.FormatResultat.CSV' | translate}}</option>
                        <option value="EXCEL">{{'gestionrequisitionsfrontendgatewayApp.FormatResultat.EXCEL' | translate}}</option>
                        <option value="PDF">{{'gestionrequisitionsfrontendgatewayApp.FormatResultat.PDF' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.format?.dirty && editForm.controls.format?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.format?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.avecStatistiques" for="field_avecStatistiques">Avec Statistiques</label>
                    <input type="checkbox" class="form-control" name="avecStatistiques" id="field_avecStatistiques"
                        [(ngModel)]="fichierResultat.avecStatistiques" />
                    <div [hidden]="!(editForm.controls.avecStatistiques?.dirty && editForm.controls.avecStatistiques?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.avecStatistiques?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.resultat" for="field_resultat">Resultat</label>
                    <select class="form-control" id="field_resultat" name="resultat" [(ngModel)]="fichierResultat.resultat" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resultatOption.id === fichierResultat.resultat?.id ? fichierResultat.resultat : resultatOption" *ngFor="let resultatOption of resultats; trackBy: trackResultatById">{{resultatOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
