<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.home.title">Fichier Resultats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fichier-resultat" [routerLink]="['/fichier-resultat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.home.createLabel">
            Create new Fichier Resultat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.fichierResultat.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fichierResultats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cheminFichier"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.cheminFichier">Chemin Fichier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="format"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.format">Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="avecStatistiques"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.avecStatistiques">Avec Statistiques</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultat.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.fichierResultat.resultat">Resultat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let fichierResultat of fichierResultats ;trackBy: trackId">
                <td><a [routerLink]="['/fichier-resultat', fichierResultat.id, 'view' ]">{{fichierResultat.id}}</a></td>
                <td>{{fichierResultat.cheminFichier}}</td>
                <td jhiTranslate="{{'gestionrequisitionsfrontendgatewayApp.FormatResultat.' + fichierResultat.format}}">{{fichierResultat.format}}</td>
                <td>{{fichierResultat.avecStatistiques}}</td>
                <td>
                    <div *ngIf="fichierResultat.resultat">
                        <a [routerLink]="['../resultat', fichierResultat.resultat?.id, 'view' ]" >{{fichierResultat.resultat?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fichier-resultat', fichierResultat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fichier-resultat', fichierResultat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fichier-resultat', { outlets: { popup: fichierResultat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
