<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-operande-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.operande.home.createOrEditLabel">Create or edit a Operande</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!operande.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="operande.id" readonly />
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestionrequisitionsfrontendgatewayApp.operande.colonne" for="field_colonne">Colonne</label>
                    <select class="form-control" id="field_colonne" multiple name="colonne" [(ngModel)]="operande.colonnes">
                        <option [ngValue]="getSelected(operande.colonnes, colonneOption)" *ngFor="let colonneOption of colonnes; trackBy: trackColonneById">{{colonneOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="gestionrequisitionsfrontendgatewayApp.operande.valeur" for="field_valeur">Valeur</label>
                    <select class="form-control" id="field_valeur" multiple name="valeur" [(ngModel)]="operande.valeurs">
                        <option [ngValue]="getSelected(operande.valeurs, valeurOption)" *ngFor="let valeurOption of valeurs; trackBy: trackValeurById">{{valeurOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.operande.fonction" for="field_fonction">Fonction</label>
                    <select class="form-control" id="field_fonction" name="fonction" [(ngModel)]="operande.fonction" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fonctionOption.id === operande.fonction?.id ? operande.fonction : fonctionOption" *ngFor="let fonctionOption of fonctions; trackBy: trackFonctionById">{{fonctionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
