<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="valeur">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.valeur.detail.title">Valeur</span> {{valeur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.valeur.valeur">Valeur</span></dt>
                <dd>
                    <span>{{valeur.valeur}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/valeur', valeur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
