<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typologie">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typologie.detail.title">Typologie</span> {{typologie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typologie.code">Code</span></dt>
                <dd>
                    <span>{{typologie.code}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typologie.libelle">Libelle</span></dt>
                <dd>
                    <span>{{typologie.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typologie.condition">Condition</span></dt>
                <dd>
                    <span>{{typologie.condition}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typologie.traitement">Traitement</span></dt>
                <dd>
                    <span>{{typologie.traitement}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/typologie', typologie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
