<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="filiale">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.detail.title">Filiale</span> {{filiale.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.code">Code</span></dt>
                <dd>
                    <span>{{filiale.code}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.libelle">Libelle</span></dt>
                <dd>
                    <span>{{filiale.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.environnement">Environnement</span></dt>
                <dd>
                    <span *ngFor="let environnement of filiale.environnements; let last = last">
                        <a [routerLink]="['/environnement', environnement?.id, 'view' ]">{{environnement.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.profil">Profil</span></dt>
                <dd>
                    <span *ngFor="let profil of filiale.profils; let last = last">
                        <a [routerLink]="['/profil', profil?.id, 'view' ]">{{profil.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/filiale', filiale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
