<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-filiale-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.home.createOrEditLabel">Create or edit a Filiale</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!filiale.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="filiale.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="filiale.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                        [(ngModel)]="filiale.libelle" required/>
                    <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.environnement" for="field_environnement">Environnement</label>
                    <select class="form-control" id="field_environnement" multiple name="environnement" [(ngModel)]="filiale.environnements">
                        <option [ngValue]="getSelected(filiale.environnements, environnementOption)" *ngFor="let environnementOption of environnements; trackBy: trackEnvironnementById">{{environnementOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="gestionrequisitionsfrontendgatewayApp.filiale.profil" for="field_profil">Profil</label>
                    <select class="form-control" id="field_profil" multiple name="profil" [(ngModel)]="filiale.profils">
                        <option [ngValue]="getSelected(filiale.profils, profilOption)" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
