<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.home.title">Requisitions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requisition" [routerLink]="['/requisition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.home.createLabel">
            Create new Requisition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.requisition.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="requisitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroArriveeDemande"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.numeroArriveeDemande">Numero Arrivee Demande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroPv"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.numeroPv">Numero Pv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateSaisiePv"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.dateSaisiePv">Date Saisie Pv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateArriveeDemande"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.dateArriveeDemande">Date Arrivee Demande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateSaisieDemande"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.dateSaisieDemande">Date Saisie Demande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="envoiResultatAutomatique"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.envoiResultatAutomatique">Envoi Resultat Automatique</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateReponse"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.dateReponse">Date Reponse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateRenvoieResultat"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.dateRenvoieResultat">Date Renvoie Resultat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="etat"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.etat">Etat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provenance.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.provenance">Provenance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="structure.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.structure">Structure</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="utilisateur.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.requisition.utilisateur">Utilisateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let requisition of requisitions ;trackBy: trackId">
                <td><a [routerLink]="['/requisition', requisition.id, 'view' ]">{{requisition.id}}</a></td>
                <td>{{requisition.numeroArriveeDemande}}</td>
                <td>{{requisition.numeroPv}}</td>
                <td>{{requisition.dateSaisiePv | date:'mediumDate'}}</td>
                <td>{{requisition.dateArriveeDemande | date:'medium'}}</td>
                <td>{{requisition.dateSaisieDemande | date:'medium'}}</td>
                <td>{{requisition.envoiResultatAutomatique}}</td>
                <td>{{requisition.dateReponse | date:'medium'}}</td>
                <td>{{requisition.dateRenvoieResultat | date:'medium'}}</td>
                <td jhiTranslate="{{'gestionrequisitionsfrontendgatewayApp.StatusEvolution.' + requisition.status}}">{{requisition.status}}</td>
                <td jhiTranslate="{{'gestionrequisitionsfrontendgatewayApp.EtatRequisition.' + requisition.etat}}">{{requisition.etat}}</td>
                <td>
                    <div *ngIf="requisition.provenance">
                        <a [routerLink]="['../provenance', requisition.provenance?.id, 'view' ]" >{{requisition.provenance?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requisition.structure">
                        <a [routerLink]="['../structure', requisition.structure?.id, 'view' ]" >{{requisition.structure?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requisition.utilisateur">
                        <a [routerLink]="['../utilisateur', requisition.utilisateur?.id, 'view' ]" >{{requisition.utilisateur?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/requisition', requisition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/requisition', requisition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'requisition', { outlets: { popup: requisition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
