<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="operateurLogique">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.operateurLogique.detail.title">Operateur Logique</span> {{operateurLogique.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.operateurLogique.operateurLogique">Operateur Logique</span></dt>
                <dd>
                    <span>{{operateurLogique.operateurLogique}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/operateur-logique', operateurLogique.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
