<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.home.title">Type Extractions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-extraction" [routerLink]="['/type-extraction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.home.createLabel">
            Create new Type Extraction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gestionrequisitionsfrontendgatewayApp.typeExtraction.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="typeExtractions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="libelle"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.libelle">Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="base.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.base">Base</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="filtre.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.filtre">Filtre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flux.id"><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.typeExtraction.flux">Flux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let typeExtraction of typeExtractions ;trackBy: trackId">
                <td><a [routerLink]="['/type-extraction', typeExtraction.id, 'view' ]">{{typeExtraction.id}}</a></td>
                <td>{{typeExtraction.code}}</td>
                <td>{{typeExtraction.libelle}}</td>
                <td>
                    <div *ngIf="typeExtraction.base">
                        <a [routerLink]="['../base', typeExtraction.base?.id, 'view' ]" >{{typeExtraction.base?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="typeExtraction.filtre">
                        <a [routerLink]="['../filtre', typeExtraction.filtre?.id, 'view' ]" >{{typeExtraction.filtre?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="typeExtraction.flux">
                        <a [routerLink]="['../flux', typeExtraction.flux?.id, 'view' ]" >{{typeExtraction.flux?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/type-extraction', typeExtraction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/type-extraction', typeExtraction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'type-extraction', { outlets: { popup: typeExtraction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
