<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="structure">
            <h2><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.structure.detail.title">Structure</span> {{structure.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.structure.code">Code</span></dt>
                <dd>
                    <span>{{structure.code}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.structure.libelle">Libelle</span></dt>
                <dd>
                    <span>{{structure.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="gestionrequisitionsfrontendgatewayApp.structure.filiale">Filiale</span></dt>
                <dd>
                    <div *ngIf="structure.filiale">
                        <a [routerLink]="['/filiale', structure.filiale?.id, 'view']">{{structure.filiale?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/structure', structure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
