<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parametrage-application-heading" jhiTranslate="gestionrequisitionsfrontendgatewayApp.parametrageApplication.home.createOrEditLabel">Create or edit a Parametrage Application</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parametrageApplication.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parametrageApplication.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.parametrageApplication.nomFichier" for="field_nomFichier">Nom Fichier</label>
                    <input type="text" class="form-control" name="nomFichier" id="field_nomFichier"
                        [(ngModel)]="parametrageApplication.nomFichier" required/>
                    <div [hidden]="!(editForm.controls.nomFichier?.dirty && editForm.controls.nomFichier?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nomFichier?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionrequisitionsfrontendgatewayApp.parametrageApplication.cheminFichier" for="field_cheminFichier">Chemin Fichier</label>
                    <input type="text" class="form-control" name="cheminFichier" id="field_cheminFichier"
                        [(ngModel)]="parametrageApplication.cheminFichier" required/>
                    <div [hidden]="!(editForm.controls.cheminFichier?.dirty && editForm.controls.cheminFichier?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cheminFichier?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
